# Dependencies
node_modules/
**/node_modules/

# Environment Variables & Secrets
.env
.env*.local
**/.env
**/.env*.local

# Production Build Output
build/
**/build/
dist/
**/dist/

# OS and IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
